<% if current_model.errors.present? %>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert

		">x</button>
		<p>¡¡Tienes errores!!</p>
		<ul>
			<% current_model.errors.messages.each do |m| %>
				<li><%= m %></li>
			<% end %>
		</ul>
	</div>
<% end %>