<div class="container fondoInicio">
	<div class="row row-padding">
		<div class="col-md-12">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="calendar">
						</div>
					</div>
					<div class="col-md-4">
						<!--button id="create-note" class="btn btn-info">Agregar nota</button-->
						<div class="postit purple">
							<div class="tape">IMPORTANTE</div>
							    <div class="widget-content">
							      <p>Terminar la aplicación de Rails para que el profe no me repruebe.</p>
							    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<!--div id="dialog" title="Etiqueta Importante">
  <label for="name">Nueva nota importante</label>
  <input type="text" name="etiqueta" id="etiqueta" class="form-control">
</div-->