<div class="container fondoInicio">
	<div class="row row-padding">
		<div class="col-md-12">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="calendar">
						</div>
					</div>
					<div class="col-md-4">
						<div class="postit purple">
							<div class="tape">IMPORTANTE</div>
							    <div class="widget-content">
							      <p>Terminar la aplicación de Rails para que el profe no me repruebe.</p>
							      <p>Comprar una MAC para que ya no me salgan erroes.</p>
							      <p>Apender a usar distintos tipos de usuarios</p>
							    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br>