<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item active"><a>¡Hola <%= current_user.email if user_signed_in? %> !</a></li>
      <li class="nav-item"><%= link_to "[ Panel Administrador ]", admin_home_index_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><%= link_to "[ Cerrar Sesión ]", destroy_user_session_path, method: :delete %></li>
    </ul>
    <% else %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active"><%= link_to "[ Iniciar Sesión ]", new_user_session_path %></li>
    </ul>
      
    <% end %>
</nav>